*{
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
#sbcnt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#searchBar{
    width: 98%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1.5px solid #3a3a3a;
}
#list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.list{
    background-color: rgb(53, 155, 53);
    margin: 15px;
    padding: 10px;
    box-shadow: black 3px 2px 6px;
    border-radius: 10px 0px 10px 0px;
}
footer{
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}
.itview{
    background-color: black;
    color: white;
    padding: 10px;

}
.itview a{
    text-decoration: none;
    color: white;
}
#contributors{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.contributors img{
    width: 30px;
    border-radius: 50%;
}
